
{{app-navbar}}

<div class="col-6">

{{form-dropdown name = "country" label = "Countries"  options = countries onSelect = (action "handleChange")}}
{{#if isCountrySelected}}
<div>djwhdhsh</div>
{{/if}}
</div>


{{outlet}}